<!DOCTYPE html>
<html>
  <head>
    <title>Critic Matcher</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Lato:900i" rel="stylesheet">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>



  <body>
  	<div class="container">
  		<div class="row">
  			<a href="<%= root_path %>"  id="top_element" class="col-xs-12 col-md-10 col-md-offset-1">Critic Matcher</a>
  		</div>
      <div class="row top_matches">
        <div id="top_match_1" class="critic col-xs-12 col-md-10 col-md-offset-1" ></div>
      </div>
      <div class="row top_matches">
        <div id="top_match_2" class="critic col-xs-12 col-md-10 col-md-offset-1" ></div>
      </div>
      <div class="row top_matches">
        <div id="top_match_3" class="critic col-xs-12 col-md-10 col-md-offset-1" ></div>
      </div>
    <%= yield %>
	</div>
  </body>
</html>
  	